body {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
    

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Madimi One", sans-serif';
}
